* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Roboto Mono', monospace;
}

h1 {
	text-align: center;
	margin: 32px;
}

div {
	padding: 16px;
	scroll-behavior: auto;
}

section {
	border: 1px solid black;
	background-color: #B4B4B4;
}

h2 {
	border: 1px solid black;
	float: right;
	padding: 4px;
}

p {
	clear: right;
	margin: 16px;
}

#orange {
	background-color: lightblue;
}

#mango {
	background-color: lightcoral;
}

#banana {
	background-color: lightcyan;
}

/*large sreen*/
@media (min-width: 992px) {
	.cl-lg-4 {
		float: left;
		width: 33.33%;
	}
}

/*medium screen*/
@media (min-width: 768px) and (max-width: 991px) {
	.cl-md-6, .cl-md-12 {
		float: left;
	}
	.cl-md-6 {
		width: 50%;
	}
	.cl-md-12 {
		width: 100%;
	}
}

/*large screen*/
@media (max-width: 767px) {
	.cl-sm-12 {
		float: left;
		width: 100%;
	} 
}